<%- include("header") -%>

<h2>Hey my name is Emmanuel</h2>
<p>I love playing games and playing basketball</p>
It's mostly like a gym for me and i sometimes edit videos 
whenever i can since it's part of my passions. 


<%- include("footer") -%>